/* :root {
  --primary: #F2E205; 
  --secondary: #F06F53; 
  --tertiary:   #AE4D75;
  --quaternary:  #554067; 
  --quinary: #F0F0F2;
  --senary: #202731;
} */

:root {
  --primary: #35f2be; 
  --secondary: #5EADF3; 
  --tertiary:   #6A66F3;
  --quaternary:  #7A5FE0; 
  --quinary: #F0F0F2;
  --senary: #202731;
}

/* body{
  background-color: var(--senary);
} */

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imageIcon {
  height: '100%'
}
.iconRoot {
  text-align: 'center'
}
